---
title: Default
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/blog.css" />
</head>
<body>

	<main>
	{{ content }}
	</main>

</body>
</html>