body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: honeydew;
	margin: 0;
}

.hero {
	width: 100vw;
	height: 70vh;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	color: white;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('/img/farmers-market.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
}

.content {
	width: 75%;
	margin: auto;
}

