---
title: CYOA Demo
---

<html>
<head>
<link rel="stylesheet" href="/css/styles.css">
<title>{{ title }}</title>
</head>

<body>
	
	<h1>CYOA Demo</h1>
	
	<main>
	{{ content }}
	</main>

	<footer>
	<a href="/">Return Home</a>
	</footer>

</body>
</html>