---
layout: main
title: Comic Books
---

<h2>Currently Available Comics</h2>

{% for comic in comics %}
	<a href="/comics/{{comic.slug}}"><img src="{{comic.thumb}}" class="comicThumb"></a>
{% endfor %}