<html>

<head>
<title>{{title}}</title>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<link rel="stylesheet" href="/css/app.css" />
</head>

<body>

{{ content }}

{% if page.url != '/' %}
<p>
<a href="/">Home</a>
</p>
{% endif %}

<footer>
<p>All content sourced from <a href="https://gijoe.fandom.com/wiki/Joepedia_-_The_G.I._Joe_Wiki">Joepedia</a>.</p>
</footer>

</body>
</html>
