---
layout: main
title: Camden Farmer's Market
---

<h1 class="title">Camden Farmer's Market</h1>

<div class="content">
<p>
Welcome to Camden Farmer's Market. We are located at 311 Elmondia Falling Street, Lafayette, LA 70508.
</p>

<p>
Our hours are 7 days a week, 6AM to 4PM, except for federal and local holidays. <strong>Closed during inclement weather!</strong>
</p>

</div>